<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="648bfd">  <td>16/01/18 21:21:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="fbTests.testLogin(java.lang.String, java.lang.String)[pri:0, instance:com.web.tests.fbTests@49e4cb85]">testLogin</td> 
  <td>main@1971764991</td>   <td></td> </tr>
<tr bgcolor="648bfd">  <td>16/01/18 21:21:20</td>   <td>17780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="fbTests.testLogin(java.lang.String, java.lang.String)[pri:0, instance:com.web.tests.fbTests@49e4cb85]">testLogin</td> 
  <td>main@1971764991</td>   <td></td> </tr>
</table>
